<article class= 'home-left-area'>
  <div class= 'home-message'>
  あなたの努力を記録しよう。<br>みんなの努力を讃えよう。<br>トレログに参加しよう。
  </div>
</article>

<article class= 'home-right-area'>
  <div class='home-coment'>
    トレログをはじめよう！
  </div>
  <%= link_to 'アカウント作成', new_user_path, class: 'btn btn-success' %>
  <%= link_to 'ログイン', '#', class: 'btn btn-success' %>
</article>
