<div class='static-pages-home', id='home'>
  <h1>Today is the first day of the rest of your life.</h1>
  <p>今すぐMotionsを始めよう。</p>
  <div class='buttons-area'>
    <%= link_to 'アカウント作成', new_user_path, class: 'btn btn-success' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-success' %>
  <div>
</div>
