@import 'bootstrap';
@import 'static_pages';

// layout/application.html.erb
header {
  background: #000;
  margin-bottom: 50px;
}

.navbar-brand {
  margin: 2px 40px;
  padding: 0 25px;
  font-size: 25px;
  font-weight: bold;
}

.nav-item {
  margin-right: 40px;
}

.nav-link {
  color: #fff;
}

.container {
  text-align: center;
  h1 {
    text-align: center;
    font-size: 35px;
  }
  .btn {
    background: #000;
    color: #fff;
    margin-top: 20px;
    width: 200px;
    padding: 5px;
    font-size: 16px;
  }
  .btn:hover {
    opacity: 0.8;
  }
}

// 入力フォームに関するスタイル
.form-label {
  font-size: 18px;
  font-weight: bold;
}

.form-group {
  text-align: left;
  margin-top: 20px;
}


// users/show.html.erb

.show-left-side {
  float: left;
  width: 40%;
}

.user-name {
  font-size: 22px;
  font-weight: bold;
}

.user-name, .user-profile {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 40px;
}

.user-name, .user-profile, .show-setting {
  margin-bottom: 15px;
  width: 70%;
}

.show-setting {
  display: block;
  color: #000;
}

.show-right-side {
  float: right;
  width: 60%;
  transform: translateY(20%);
  text-align: center;
}

// users/setting.html.erb
#users-setting
.btn {
  margin-bottom: 40px;
}
