// Place all the styles related to the Bodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// bodies/new.html.erb
#bodies-new {
  .form-area {
    width: 85%;
    margin: 0 auto;
    border: 2px solid #c0c0c0;
    margin-top: 15px;
    padding: 10px 0 20px;
  }
  .form-group {
  text-align: center;
  }
  .form-label {
    text-align: left;
  }
  .body-form {
    border: 1px solid #c0c0c0;
  }
}
