// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// logs/new.html.erb
.training-menu {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #c0c0c0;
  padding: 15px;
}
