// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users/index.html.erb
#users-index {
  .user-1ea {
    border: 1px solid #c0c0c0;
  }
  .user-img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .user-name {
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
  }
  .user-profile {
    font-size: 15px;
    text-align: left;
  }
  .btn {
    width: 150px;
    padding: 5px 15px;
    font-size: 14px;
  }
}

// users/show.html.erb

.show-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-side {
    width: 30%;
    .user-name, .user-profile, .user-category {
      overflow-wrap: break-word;
      border-bottom: 1px solid #c0c0c0;
      padding-bottom: 20px;
      margin-bottom: 18px;
    }
    .user-img {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .user-name {
      font-size: 25px;
      font-weight: bold;
    }
    .user-profile {
      text-align: left;
      font-size: 15px;
    }
    .user-category {
      text-align: left;
      font-size: 12px;
      .category-item {
        display: inline-block;
        border: 1px solid #6495ed;
        border-radius: 30px;
        background: #6495ed;
        color: #fff;
        padding: 2px;
        margin-right: 3px;
      }
    }
    .show-link {
      margin-top: 20px;
    }
    .show-setting {
      display: block;
      border: 1px solid #000;
      border-radius: 20px;
      padding: 5px;
      margin-bottom: 20px;
      color: #000;
    }
    .show-setting:hover {
      text-decoration: none;
      background: #000;
      color: #fff;
    }
  }
  .right-side {
    width: 60%;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

// users/edit.html.erb
#users-edit .check-label {
  margin-right: 20px;
  font-weight: bold;
}

#users-edit .form-check-label {
  margin-right: 5px;
}

// users/setting.html.erb
#users-setting .btn {
  margin-bottom: 50px;
}
