<div class='training-form nested-fields'>
  <div>
    <%= f.text_field :training_event, placeholder: '種目', class: 'form-control', id: 'training_event' %>
  </div>
  <span>×</span>
  <div>
    <%= f.text_field :training_weight, placeholder: '重量(kg)', class: 'form-control', id: 'training_weight' %>
  </div>
  <span>×</span>
  <div>
    <%= f.number_field :reps, min: 1, placeholder: '回数(reps)', class: 'form-control', id: 'reps' %>
  </div>
  <%= link_to_remove_association '削除', f, class: 'delet-key' %>
</div>
