<div class='form-group'>
  <%= f.text_field :training_event, placeholder: '種目', id: 'training_event' %>
  　×　
  <%= f.text_field :training_weight, placeholder: '重量', id: 'training_weight' %>
  kg ×
  <%= f.number_field :reps, min: 1, placeholder: '回数', id: 'reps' %>
  reps
</div>
